<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      
      <section name="Kenos.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      
      <section name="Kenos.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

      <section name="Kenos.SkuaConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      
    </sectionGroup>
  </configSections> 
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    
    <add key="familia:directorios-separados" value="false"/>

    <add key="expediente-simple:directorios-separados" value="True"/>
    <add key="expediente-simple:copiar-resultado" value="False"/>
    <add key="expediente-simple:copiar-ruta" value=""/>
    
  </appSettings>
  <applicationSettings>
    
    <Kenos.Win.Properties.Settings>
      <setting name="LicenseKey" serializeAs="String">
        <value>193060991980386969-STJC</value>
      </setting>
      <setting name="PathGrabacion" serializeAs="String">
        <value>C:\Temp\</value>
      </setting>
      <setting name="CasosPrueba" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Juez, beep.wav</string>
            <string>Fiscal, beep.wav</string>
            <string>Imputado, beep.wav</string>
            <string>Defensor, beep.wav</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PruebaGrabacionIntervalo" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WmvProfileVersion" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="AlertaEspacioLibre" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TextoVideoHabilitado" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextoVideoTemplate" serializeAs="String">
        <value>%sys_time[dd/mm/yyyy hh:nn]% - {0}</value>
      </setting>
      <setting name="FrameRatePredeterminado" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="TextoVideoFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PruebaGrabacionObligatoria" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WmvVideoBitRates" serializeAs="String">
        <value>600000</value>
      </setting>
      <setting name="WmvVideoQuality" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="AudioCompressor" serializeAs="String">
        <value>LAME Audio Encoder</value>
      </setting>
      <setting name="Connectors" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Kenos.SimpleConnector.Connector,Kenos.SimpleConnector</string>
            <string>Kenos.FamiliaConnector.Connector,Kenos.FamiliaConnector</string>
            <string>Kenos.EjemploConnector.Connector,Kenos.EjemploConnector</string>
            <string>Kenos.ExpedienteSimpleConnector.Connector,Kenos.ExpedienteSimpleConnector</string>
          
        
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ModoGrabacionPredeterminado" serializeAs="String">
        <value>audio</value>
      </setting>
      <setting name="RegistracionHabilitada" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegistracionUrl" serializeAs="String">
        <value>http://apprw/kenos/registrar</value>
      </setting>
      <setting name="ConfirmacionAutomatica" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Administradores" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Usuarios</string>
            <string>SUPTRIB\mbogliacino</string>
            <string>SUPTRIB\abiaggio</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TextoEnPausa" serializeAs="String">
        <value>Pausa - {0:HH:mm}hs.</value>
      </setting>
      <setting name="TextoEnInicio" serializeAs="String">
        <value>Inicio - {0:dd/MM/yyyy HH:mm}hs.</value>
      </setting>
      <setting name="TextoEnFin" serializeAs="String">
        <value>Fin - {0:dd/MM/yyyy HH:mm}hs.</value>
      </setting>
      <setting name="TextEnReanudar" serializeAs="String">
        <value>Continuación - {0:HH:mm}hs.</value>
      </setting>
    </Kenos.Win.Properties.Settings>

    <Kenos.Common.Properties.Settings>
      <setting name="LogFileName" serializeAs="String">
        <value>K:\RAP\Logs\LogKeno</value>
      </setting>
      <setting name="EmailTo" serializeAs="String">
        <value>mbogliacino@juschubut.gov.ar</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>Keno-DEV&lt;mbogliacino@juschubut.gov.ar&gt;</value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="EmailSmtpServer" serializeAs="String">
        <value>mail.juschubut.gov.ar</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
    </Kenos.Common.Properties.Settings>

    
   
  </applicationSettings>
 
</configuration>
