<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="expediente:organismos" value="f1:Familia 1|f2:Familia 2|f3:Familia 3"/>
    
    <add key="expediente-f1:carpeta-local" value="Familia1"/>
    <add key="expediente-f1:ruta-red" value="\\infotw\RAP\Usuarios\MBogliacino"/>
    <add key="expediente-f1:copiar-red" value="true"/>

    <add key="expediente-f2:carpeta-local" value="Familia2"/>
    <add key="expediente-f2:ruta-red" value="\\infotw\RAP\Usuarios\MBogliacino"/>
    <add key="expediente-f2:copiar-red" value="true"/>

    <add key="expediente-f2:carpeta-local" value="Familia3"/>
    <add key="expediente-f2:ruta-red" value="\\infotw\RAP\Usuarios\MBogliacino"/>
    <add key="expediente-f2:copiar-red" value="true"/>

  </appSettings>

  
</configuration>