<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="expediente-simple:directorios-separados" value="false"/>
    <add key="expediente-simple:copiar-resultado" value="true"/>
    <add key="expediente-simple:copiar-ruta" value="\\infotw\RAP\Usuarios\MBogliacino"/>

  </appSettings>
</configuration>