<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kenos.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kenos.Common.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </Kenos.Common.Properties.Settings>
    </applicationSettings>
</configuration>