<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kenos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Kenos.Properties.Settings>
      <setting name="ObsProfileName" serializeAs="String">
        <value>kenos</value>
      </setting>
      <setting name="ObsFileName" serializeAs="String">
        <value>obs64.exe</value>
      </setting>
      <setting name="ObsArguments" serializeAs="String">
        <value>--disable-updater </value>
      </setting>
      <setting name="ObsWorkingDirectory" serializeAs="String">
        <value>C:\Program Files\obs-studio\bin\64bit\</value>
      </setting>
      <setting name="ObsUrl" serializeAs="String">
        <value>ws://localhost:4444</value>
      </setting>
      <setting name="ObsPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RegistracionHabilitada" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Connectors" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Kenos.SimpleConnector.Connector,Kenos.SimpleConnector</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CasosPrueba" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Juez, beep.wav</string>
            <string>Fiscal, beep.wav</string>
            <string>Imputado, beep.wav</string>
            <string>Defensor, beep.wav</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TextoEnInicio" serializeAs="String">
        <value>Inicio - {0:dd/MM/yyyy HH:mm}hs.</value>
      </setting>
      <setting name="TextoEnFin" serializeAs="String">
        <value>Fin - {0:dd/MM/yyyy HH:mm}hs.</value>
      </setting>
      <setting name="TextEnReanudar" serializeAs="String">
        <value>Continuación - {0:HH:mm}hs.</value>
      </setting>
      <setting name="TextoEnPausa" serializeAs="String">
        <value>Pausa - {0:HH:mm}hs.</value>
      </setting>
      <setting name="ConfirmacionAutomatica" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegistracionUrl" serializeAs="String">
        <value>http://apprw/kenos/registrar</value>
      </setting>
      <setting name="ModoGrabacionPredeterminado" serializeAs="String">
        <value>video</value>
      </setting>
      <setting name="PruebaGrabacionObligatoria" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertaEspacioLibre" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PruebaGrabacionIntervalo" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PathGrabacion" serializeAs="String">
        <value>C:\Temp\</value>
      </setting>
      <setting name="ConversionAutomaticaMP4" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConversionAutomaticaTiempoMinimoEspera" serializeAs="String">
        <value>3</value>
      </setting>
    </Kenos.Properties.Settings>
  </applicationSettings>
</configuration>