<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Kenos.SkuaConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    </configSections>

  <Kenos.SkuaConnector.Properties.Settings>
    <setting name="UserName" serializeAs="String">
      <value>Skua</value>
    </setting>
    <setting name="Password" serializeAs="String">
      <value>newskua</value>
    </setting>
    <setting name="DomainName" serializeAs="String">
      <value>rw-sij-desa-02</value>
    </setting>
    <setting name="VideosRealPath" serializeAs="String">
      <value>\\tt-skua\videos\</value>
    </setting>
    <setting name="MailFrom" serializeAs="String">
      <value>igader@juschubut.gov.ar</value>
    </setting>
    <setting name="SMTP" serializeAs="String">
      <value>mail.juschubut.gov.ar</value>
    </setting>
    <setting name="Conexion" serializeAs="String">
      <value>integrated security=false;data source=rw-sij-desa-02;persist security info=True;initial catalog=Skua; user id=UserNewSkua; pwd=newskua</value>
    </setting>
    <setting name="VideosPath" serializeAs="String">
      <value>~/medios/videos/</value>
    </setting>
    <setting name="Servidor" serializeAs="String">
      <value>rw-sij-desa-02</value>
    </setting>
  </Kenos.SkuaConnector.Properties.Settings>



</configuration>